---
---

@import "{{ site.theme }}";
html {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    padding: 100px 20px;
    min-height: 100%;
    background: #00a8c5;
    background: -moz-linear-gradient(45deg, #00a8c5 0%, #74e8a0 100%);
    background: -webkit-linear-gradient(45deg, #00a8c5 0%,#74e8a0 100%);
    background: linear-gradient(45deg, #00a8c5 0%,#74e8a0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8c5', endColorstr='#74e8a0',GradientType=1 );
    color: #656565;
    font-family: 'Raleway', sans-serif;
}

.card {
    margin-top: 100px;
    background: #fff;
    border-radius: 5px;
    max-width: 350px;
    padding: 70px;
    padding-bottom: 20px;
    margin: auto;
    position: relative;

    h1 {
        text-align: center;
        margin-bottom: 40px;
        color: #49d0ad;
    }

    p {
        text-align: center;
        text-transform: uppercase;
    }
}

@media all and (max-width: 500px) {
    body {
        padding: 20px 20px;
    }
    .card {
        padding: 50px 20px;
    }
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

    img {
        width: 100%;
        height: 100%;
    }
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    overflow: hidden;
    li {
        float: left;
        width: percentage(1/3);
        text-align: center;

        a, a:visited {
            font-size: 2em;
            color: #c0c0c0;
            border: 1px solid #dadada;
            border-radius: 50%;
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
        }

        a:hover {
            color: #49d0ad;
            border: 1px solid #49d0ad;
        }
    }
}

footer {
    text-align: center;
    color: #c5c5c5;
}