---
---

@import "{{ site.theme }}";

body {
    background: #f1f1f1;
    color: #656565;
    font-family: 'Raleway', sans-serif;
}

.hero-image {
    background: url('images/horizon.png');
    background-size: cover;
    background-position: 50% 60%;
}

.main-content {
    margin-top: 2em;
    margin-bottom: 200px;
}

.instagram-media {
    margin: auto !important;
}

.footer {
    background: #fff;
    padding: 1em 0;
}

.image-logo {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-bottom: 2em;
}

.social-media-links {
    text-align: center;

    a {
        color: #fff;
        display: block;
        font-size: 1.5em;
        font-weight: 200;
        opacity: 0.5;
        text-decoration: none;
    }

    a:hover {
        opacity: 1;
    }
}