<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
  <div class="container">
    <div class="card">
      <div class="avatar">
        <img src="assets/images/avatar.png" />
      </div>
      <h1>Desrve</h1>
      <p>Follow me on social media</p>
      <ul class="some-links">
        <li>
          <a href="https://www.youtube.com/channel/UC63EhLOZEzWW6hk-WbpqDzQ" target="_blank">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/desrve.me/" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://soundcloud.com/desrve" target="_blank">
            <i class="fa fa-soundcloud"></i>
          </a>
        </li>
      </ul>
      <footer class="footer">
        <span>Contact: hello at desrve.me</span>
      </footer>
    </div>
  </div>
</body>

</html>