<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
    <div class="container">
        <div class="hero-image">
            <img src="{{ " assets/images/logo.png " }}" class="image-logo" />
            <div class="wrapper">
                <div class="grid social-media-links">
                    <div class="col-4_sm-12_xs">
                        <a href="https://www.youtube.com/channel/UC63EhLOZEzWW6hk-WbpqDzQ" target="_blank">
                            <i class="fa fa-large fa-youtube" aria-hidden="true"></i> YouTube</a>
                    </div>
                    <div class="col-4_sm-12_xs">
                        <a href="https://soundcloud.com/desrve" target="_blank">
                            <i class="fa fa-soundcloud" aria-hidden="true"></i> SoundCloud</a>
                    </div>
                    <div class="col-4_sm-12_xs">
                        <a href="https://www.instagram.com/desrve.me/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="grid">
                <div class="col-3">
                    <ul class="navigation">
                        <li><a href="{{ site.url }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    </ul>
                </div>
                <div class="col-6 content-cell">
                    <h2>Youtube channel</h2>
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dgI9jXTCyb8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-3 content-cell">
                    <h2>Instagram <a href="https://www.instagram.com/desrve.me/" target="_blank">@desrve.me</a></h2>
                    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                        <div style="padding:8px;">
                            <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
                                <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                            </div>
                            <p style=" margin:8px 0 0 0; padding:0 4px;">
                                <a href="https://www.instagram.com/p/BaMcuhTjZMb/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                                    target="_blank">I&#39;m a devoted beer guy, but Gin &amp; Tonic is my go-to drink if I want something different.</a>
                            </p>
                            <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">Henkilön Desrve (@desrve.me) jakama julkaisu
                                <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-10-13T16:14:24+00:00">13. 10ta 2017 klo 9.14 PDT</time>
                            </p>
                        </div>
                    </blockquote>
                    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                    <br>
                    <br>
                    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                        <div style="padding:8px;">
                            <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
                                <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                            </div>
                            <p style=" margin:8px 0 0 0; padding:0 4px;">
                                <a href="https://www.instagram.com/p/BaHOI_ijHeC/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                                    target="_blank">Computers are cool, but spending some time in nature balances out all the technology that
                                    is around us.</a>
                            </p>
                            <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">Henkilön Desrve (@desrve.me) jakama julkaisu
                                <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-10-11T15:30:44+00:00">11. 10ta 2017 klo 8.30 PDT</time>
                            </p>
                        </div>
                    </blockquote>
                    <br>
                    <br>
                    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                        <div style="padding:8px;">
                            <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
                                <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                            </div>
                            <p style=" margin:8px 0 0 0; padding:0 4px;">
                                <a href="https://www.instagram.com/p/BaCjb9BjFNc/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                                    target="_blank">Working on my debut EP. I&#39;ve still got a long road ahead, but it&#39;s getting forward
                                    day by day 🎧🎶 #music #production</a>
                            </p>
                            <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">Henkilön Desrve (@desrve.me) jakama julkaisu
                                <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-10-09T20:00:37+00:00">9. 10ta 2017 klo 13.00 PDT</time>
                            </p>
                        </div>
                    </blockquote>
                    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                </div>
            </div>
        </div>
        <footer class="footer">
            <span>Contact: hello at desrve.me</span>
        </footer>
    </div>
</body>

</html>